
 #nome{
 
  border: 1px rgb(184, 177, 177);
  outline: 4px;
  margin: 4px;
  height: 100px;
}
#texterea{
  height: 100px;
  width: 500px;
  resize: none;
  
}
.Categoria{
  height: 50px;
  width: 200px;
}
.nomedolink:hover{
  text-decoration:underline;
}
button{
  padding: 10px;
  font-size:15px;
  background-color: aquamarine;
  border: 1px solid #555;
}
button:hover{
  background-color: black;
}